# Unreal binary assets
*.uasset binary
*.umap binary

# Common Unreal generated/binary content
*.ubulk binary
*.uexp binary
*.uptnl binary
*.ushaderbytecode binary

# Treat project files normally as text
*.uproject text
*.ini text
*.cs text
*.cpp text
*.h text
*.py text